<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tuling.shopping.mapper.UserMapper">
    <select id="getPageTestList" resultType="User">
        select * from test
<!--        <if test="ew.emptyOfWhere == false">-->
<!--            ${ew.customSqlSegment}-->
<!--        </if>-->
    </select>
</mapper>
